/* 
Colors:
Dark: #000000
Light: #FFFFFF
Aqua: #149BAE

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #000000;
  color: #ffffff;

  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  background: url("../images/draw.svg") no-repeat;
}

.image-container {
  width: 50%;
}

.image-container > img {
  position: absolute;
  bottom: 0;
  left: 5.5rem;
  height: 65rem;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.text-container > h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  margin: 2.5rem 0;
  animation: fadeIn 1s ease-out;
}

.text-container > h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1rem;
  line-height: 3rem;
  animation: fadeIn 2s ease-out;
}

.text-container > .hero-btn {
  color: #ffffff;
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10rem;
  background: linear-gradient(225deg, #149bae 0%, #271e5d 100%);
}

.text-container > .hero-btn:hover {
  width: 21.5rem;
  transition: width 0.5s ease-in;
}

.social-media {
  list-style: none;
  display: flex;
}

.social-media > li {
  margin: 1rem;
}

.social-media > li:first-child {
  margin-left: 0;
}

.social-media > li > a {
  color: #ffffff;
  font-size: 3rem;
}

.social-media > li > a:hover {
  color: #149bae;
  transition: color 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .image-container {
    display: none;
  }

  .text-container {
    width: 100%;
    padding: 3rem;
  }
}
