@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #ffffff;
  background-color: #000000;
}

.hero {
  height: 100vh;
  background-image: url(../imgs/img-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-header {
  display: flex;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.item {
  width: calc(50% - 35px);
  margin: 5px;
}

.item:first-child {
  display: flex;
  justify-content: flex-end;
}

.item:last-child {
  justify-content: center;
  padding: 0px 25px;
}

h1.hero-title {
  font-size: 6vh;
}

p.hero-text {
  line-height: 4vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-item {
  list-style: none;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav .nav-item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.nav-item a:hover {
  color: #ae1484;
}

a.btn-icon > i.fa {
  font-size: 4vh;
  color: #ffffff;
  margin: 5px;
}

a.btn-icon > i.fa {
  font-size: 4vh;
  color: #ffffff;
  margin: 5px;
}

@media all and (max-width: 900px){
  .container > div:first-child > img {
    width: 80%;
    height: 100%;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }


  .item:first-child {
    display: flex;
    justify-content: center;
  }

  .item:last-child {
    justify-content: center;
    text-align: center;
  }
}

@media all and (max-width: 600px){
  .item {
    width: 60%;
  }
}